extends layout
block content
      .main
        section.bg-img
        section.centered.empty.bg-color
          h1 Greece is calling
          h2
            | say 
            span.branding Hello Greece
        section.bg-color-dark
          h2.branding Why Greece?
          .thirds
            h4 You'll feel warm again
            p
              | Forget spending all winter wrapped in layers, desprerately trying to feel warm, all the while your heating bill is about to burst through the roof. Enjoy the warm breezy Mediterenian climate, while your friends are under a few feet of snow back home.
          .thirds
            h4 You'll eat amazing food
            p
              | Extend your lifespan* as you enjoy the wonderful cuisine of the Mediteranian, one of the healthiest in the world! Who knows, maybe if you do it right, you might even drop a few pounds. Wouldn't that be an amazing vacation indeed? Wouldn't it? Book now!
              br
              br
              |             *temporarily
          .thirds
            h4 You'll save money
            p
              | Everybody needs a vacation sometime. But the smart travelers know to avoid peak travel season. Peak Travel Season is when everybody goes on vacation. There's increased traffic, prices are jacked up, crowds are everywhere. Even theft is up! Why would anyone want to go anywhere then? Beats me.
        section.bg-img2
        section.bg-color
          h2.branding Select from one of two packages
          .thirds
            h4 Experience Greece 
            p
              | Experience Greece uncrowded, undiscovered, and underbudget. By purchasing an off-season,
              | all inclusive vacation package, you can save time and money.
            p
              | All packages include roundtrip flights to Athens from one of four US airports: Atlanta GA, Columbus OH, New York City NY, and Pheonix AZ, transportation to and from the airport in Athens, a guided tour of the Acropolis, accomodation, food and drinks.
          .thirds
            h4 7 Nights/8 Days
            p
              | BIn iaculis nunc sed augue lacus viverra vitae. Dolor sit amet consectetur adipiscing. Tellus elementum sagittis vitae et leo. Penatibus et magnis dis parturient montes nascetur. Suspendisse potenti nullam ac tortor. Tincidunt id aliquet risus feugiat. Elit at imperdiet dui accumsan sit. Pretium nibh ipsum consequat nisl vel pretium lectus quam id. Urna nunc id cursus metus aliquam. Amet volutpat consequat mauris nunc congue nisi. Luctus venenatis lectus magna fringilla.
          .thirds
            h4 14 Nights/15 Days 
            p
              | Iaculis nunc sed augue lacus viverra vitae congue. Viverra tellus in hac habitasse platea dictumst vestibulum rhoncus est. Habitasse platea dictumst quisque sagittis purus sit amet volutpat consequat. Vitae turpis massa sed elementum. Sit amet risus nullam eget felis eget nunc lobortis. Suspendisse faucibus interdum posuere lorem ipsum dolor sit amet consectetur. Tellus in metus vulputate eu scelerisque felis. Fusce id velit ut tortor pretium. Semper risus in hendrerit gravida rutrum quisque non tellus. Quam pellentesque nec nam aliquam sem et tortor. Ipsum faucibus vitae aliquet nec ullamcorper sit. Libero justo laoreet sit amet cursus sit amet dictum. Sagittis purus sit amet volutpat consequat mauris nunc congue nisi. Dignissim enim sit amet venenatis urna cursus eget nunc scelerisque. Faucibus purus in massa tempor nec feugiat nisl pretium. Maecenas accumsan lacus vel facilisis volutpat. Lobortis elementum nibh tellus molestie nunc non blandit massa. Dictumst quisque sagittis purus sit amet volutpat consequat mauris.
        section#company.bg-white.section-p-sm
          .container.reveal-bottom-opacity
            // Address
            .small-3
              img(src='postmark.png')
              p
                | 45 Washington Avenue,
                br
                | 			                  New York, NY 10016 ,USA
            // /End Address
            // Address
            .small-3
              img(src='paperplane.png')
              p
                a.link-dark(href='mailto:info@yourmailaddresshere.com') info@symbolis.com
                br
                a.link-dark(href='www.yourwebadresshere.com') www.symbolis.com
            // /End Address
            // Address
            .small-3
              img(src='phone-handle.png')
              p
                | Tel.
                a.link-dark(href='tel:012345678991')  01 23 456 78 99 1
                br
                | 			                  Cell 
                a.link-dark(href='tel:012345678991') 01 23 456 78 99 2
            // /End Address
        //
          ============================
          Footer
          =================================
        footer#footer.bg-dark.section-p-sm.text-black
          .container
            .row
              // Company Details
              .col-md-6.wrapper-v-sm.text-center-md
                p.text-color
                  a.link-white(href='#') Terms
                  span.separator |
                  a.link-white(href='#') Imprint
                  span.separator |
                  a.link-white(href='#')
                    | Privacy
                    | Policy
                  br
                  | 			            © 2016 
                  img.logo-wrapper(src='images/logo-white.png', alt='...', height='18')
                  | .
                  | 			            All Rights Reserved. Sources: 
                  a.link-white(href='http://www.fotolia.com/', target='_blank', data-placement='top', data-toggle='tooltip', title='© name1\
                  © name2\
                  © name3\
                  © name4') Sourcename
